Repository fucaluca/torrentui: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt, clippy

nix-fmt:
  name: nix format
  entry: nixpkgs-fmt
  language: system

clippy:
  name: clippy
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

feat(torrent_list): launch external player
  src/action.rs
  src/connectors.rs
  src/connectors/rqbit.rs
  src/connectors/rqbit/api.rs
  src/settings.rs
  src/settings/defaults.rs
  src/ui/components/notifications.rs
  src/ui/components/torrent_list.rs
Due: clippy

update flake.lock
  flake.lock
Due: none

feat(add-torrent): auto insert magnet link from clipboard
  src/action.rs
  src/app.rs
  src/ui/components/add_torrent.rs
  src/ui/components/notifications.rs
Due: clippy

refactor(add-torrent): simplify key event handler
  Cargo.lock
  Cargo.toml
  src/action.rs
  src/app.rs
  src/connectors.rs
  src/settings.rs
  src/settings/defaults.rs
  src/settings/styles.rs
  src/torrent/source.rs
  src/ui/assets/icons.rs
  src/ui/assets/symbols.rs
  src/ui/components.rs
  src/ui/components/add_torrent.rs
  src/ui/components/torrent_list.rs
Due: clippy

fix(notifications): notifications don't hide
  src/app.rs
  src/ui/components/notifications.rs
Due: clippy

fix(tests): update which-key tests for new design
  src/ui/components/which_key.rs
Due: clippy

feat(app): create default configuration in toml
  config/default.toml
  src/app.rs
  src/settings.rs
  src/settings/connectors.rs
  src/settings/defaults.rs
  src/settings/keybindings.rs
  src/settings/styles.rs
  src/ui/components/notifications.rs
  src/ui/components/which_key.rs
Due: clippy

refactor: make code more DRY
  src/torrent.rs
  src/ui/components/torrent_list.rs
  src/ui/components/torrent_list/cell.rs
Due: clippy

refactor: clear project - rename AddTorrent to AddMagnet - reorganize project
  src/app.rs
  src/connector_worker.rs
  src/connectors.rs
  src/connectors/rqbit.rs
  src/connectors/rqbit/api.rs
  src/connectors/rqbit/api/dto/torrent_info.rs
  src/connectors/rqbit/api/dto/torrent_list.rs
  src/domain.rs
  src/domain/action.rs
  src/domain/modes.rs
  src/domain/torrent.rs
  src/domain/torrent/info_hash.rs
  src/domain/torrent/source.rs
  src/key_mode.rs
  src/main.rs
  src/settings.rs
  src/settings/connectors.rs
  src/settings/keybindings.rs
  src/settings/styles.rs
  src/ui/assets/icons.rs
  src/ui/components.rs
  src/ui/components/add_magnet.rs
  src/ui/components/notifications.rs
  src/ui/components/torrent_list.rs
  src/ui/components/torrent_list/cell.rs
  src/ui/components/which_key.rs
Due: clippy

feat: handle cli args
  Cargo.lock
  Cargo.toml
  src/app.rs
  src/args.rs
  src/main.rs
Due: clippy

feat: logging errors
  Cargo.lock
  Cargo.toml
  src/app.rs
  src/connector_worker.rs
  src/logging.rs
  src/main.rs
  src/settings.rs
  src/settings/keybindings.rs
  src/terminal.rs
  src/ui/components/notifications.rs
Due: clippy

build(nix): update flake.nix to support installation
  Cargo.lock
  Cargo.toml
  config/default.toml
  flake.lock
  flake.nix
  rust-toolchain.toml
  src/app.rs
  src/connectors.rs
  src/connectors/rqbit.rs
  src/domain/action.rs
  src/domain/modes.rs
  src/settings.rs
  src/settings/keybindings.rs
  src/settings/styles.rs
  src/ui/components/add_magnet.rs
  src/ui/components/notifications.rs
  src/ui/components/which_key.rs
Due: nix-fmt, clippy

fix(keybindings): correct trie construction for nested key sequences
  src/settings/keybindings.rs
Due: clippy

feat(bin): add "tt" as an alternative binary name
  Cargo.toml
Due: none

create README
  README.md
Due: none

Update README.md
  README.md
Due: none

feat(add-magnet): add title
  src/ui/components/add_magnet.rs
Due: clippy

clear tmuxp.yml
  .tmuxp.yml
Due: none

clear .gitignore
  .gitignore
Due: none

docs: add MIT license
  LICENSE
Due: none

update README
  README.md
Due: none

test(keybindings): verify trie construction is independent of config entry order
  src/settings/keybindings.rs
Due: clippy

test(settings): expand test coverage for keybindings
  src/settings/keybindings.rs
Due: clippy

chore: update repository URL to Codeberg
  Cargo.toml
  README.md
Due: none

chore: use tea instead of gh
  flake.nix
Due: nix-fmt

docs(README): add link to main repo
  README.md
Due: none

Path conditions:
  nix-fmt: any of: \.nix$ and \.nix$
  clippy: any of: \.rs$
